.nosotros-main {
  margin: 4rem 18rem 6.5rem;
  @media (max-width: 768px) {
    margin: 3rem;
    
    
  }
}

.section-nosotros_info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.subrayado {
  width: fit-content;
  color: #004532;
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.section-nosotros-cards {
  display: flex;
  flex-direction: row;
  margin: 1rem 0;
  justify-content: center;
  gap: 1rem;
  @media (max-width: 768px) {
    flex-direction: column;
  }

  &__mision-vision-valores {
    border: 2px solid #004532;
    width: 53rem;
    padding: 2rem;

    @media (max-width: 768px) {
      width:100%;
    }
  }
}

.font-size-15 {
  font-size: 15px;
}

.icon-cards {
  height: 2rem;

  &__imagen {
    height: 1.5rem;
  }
}

@media screen and (max-width: 576px) {
  .nosotros-main {
    margin: 4rem 2rem 6.5rem;
  }
  .section-nosotros-cards {
    flex-direction: column;
    &__mision-vision-valores {
      width: 100%;
    }
  }
}
