.form-alta{
    background-color: #f2f2f2;
    width: fit-content;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    @media (max-width: 768px) {
        flex-direction: column;
    

   &_content{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    
   } 
}
}

