/* -------------------------------------------------------- */
/* HEADER */
/* -------------------------------------------------------- */

.main-header {
  display: flex;
  flex-direction: column;

  @media (max-width: 576px) {
    & {
      flex-direction: column-reverse;
    }
  }
}

#menu {
  display: none;

  &:checked + .nav-bar {
    display: block;
  }

  &:checked ~ .search-bar .menu-toogle .menu-toogle__label {
    fill: #004532; 
    transform: rotate(90deg);
  }
}

/* -------------------------------------------------------- */
/* NAVBAR */
/* -------------------------------------------------------- */

.nav-bar {
  background-color: #004532;

  &__nav-list {
    /* .nav-bar__nav-list */
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin-top: 0.5rem;

    @media (max-width: 768px) {
      & {
        flex-direction: column;
      }
    }
  }

  &__nav-item {
    text-align: center;
  }

  &__nav-link {
    display: block;
    padding: 1rem 2rem;
    text-decoration: none;
    color: white;
    font-size: 115%;
    transition: 0.3s ease;
    display: flex;
    flex-direction: column;
    &-transition::after {
      content: "";
      position: relative;
      height: 2px;
      width: 0;
      bottom: 1px;
      background-color: white;
      transition: width 0.4s ease-in-out;
    }

    &-transition:hover::after {
      width: 100%;
    }
  }

  &__nav-link:hover {
    font-weight: bold;
  }

  @media (max-width: 768px) {
    & {
      /* .nav-bar */
      display: none;
    }
  }
}

/* -------------------------------------------------------- */
/* SEARCH BAR */
/* -------------------------------------------------------- */

.search-bar {
  background-color: #004532;
  display: flex;
  justify-content: center;
  gap: 10rem;
  color: white;

  &__logo-container {
    /* .search-bar__logo-container */
    height: 6rem;
    .search-bar__logo {
      height: 6rem;
    }
  }

  &__form-container {
    padding: 1rem;
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }


  &__form-search {
    background-color: white;
    width: 40%;
    border: 2px solid white;
    height: 2rem;
    caret-color: #004532;
    padding: 0.5rem;
    border-radius: 8px 0px 0px 8px;
  }

  &__form-submit {
    background-color: white;
    color: #004532;
    border: none;
    border-radius: 0 8px 8px 0;
    border-left: 2px solid #004532;
    padding: 0.5rem;
    height: 2rem;
    width: 2rem;
  }

  &__carrito-container {
    flex: 0 0 2rem;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    .search-bar__carrito-image {
      height: 2rem;
    }
  }
}

#carrito-header path {
  fill: white;
}

/* -------------------------------------------------------- */
/* MENÚ TOOGLE */
/* -------------------------------------------------------- */

.menu-toogle {
  display: none;
  background-color: white;
  flex: 0 0 3rem;
  position: relative;
  cursor: pointer;

  &__label {
    display: block;
    background-color: white;
    height: 100%;
  }

  &__icon{
    position: absolute;
    left: 0.5rem;
    right: 0.5rem;
    top: 35%;
    margin-top: -0.1rem;
  }

}

@media (max-width: 768px) {
  .menu-toogle {
    display: block;
    background-color: #004532;
    &__label {
      background-color: transparent;
    }
  }
  .search-bar {
    gap: 0rem;
    justify-content: space-between;
    padding: 0rem 0rem 0rem 1rem;
    &__form-search {
      width: 60%;
    }
  }

  #menu:checked ~ .search-bar .menu-toogle .menu-toogle__label {
    fill: #004532; 
    transform: rotate(90deg);
  }
}